html {
  width: 375px;  
}

body {
  background-color: #e5e5e5;  
  height: calc(718px * 1.5);
  width: 375px;
  margin: 0;
  padding: 0;
  border: 0;
}

#section-1 {
  background-color: #ffffff;
  height: 718px;
  border-bottom-left-radius: 50px;
}