html {
  width: 375px;
}

body {
  background-color: #e5e5e5;
  height: calc(718px * 1.5);
  width: 375px;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#section-1 {
  height: 718px;
  border-bottom-left-radius: 50px;
  padding: 0 24px 0 24px;
  background-color: #fff;
  background-image:
    url("images/background/Ellipse 3.svg"),
    url("images/background/Ellipse 4.svg"),
    url("images/background/Ellipse 5.svg"),
    url("images/background/Ellipse 8.svg"),
    url("images/background/Ellipse 11.svg"),
    url("images/background/Ellipse 12.svg"),
    url("images/background/Ellipse 13.svg"),
    url("images/background/Ellipse 14.svg"),
    url("images/background/Ellipse 15.svg"),
    url("images/background/Rectangle 4.svg"),
    url("images/background/Rectangle 5.svg"),
    url("images/background/Rectangle 6.svg"),
    url("images/background/Rectangle 7.svg;");
  background-repeat: no-repeat;
  background-position:
    323px 152.24px,
    237px 657.1px,
    132.98px 155.81px,
    214px 110px,
    0 161.47px,
    341.76px 546.69px,
    332.18px 540.44px,
    298px 315px,
    53px 645px,
    294px 165.79px,
    191.82px 653px,
    0 141.49px,
    127.18px 151.59px;
}

#not-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#not-bar p {
  font-size: 14px;
}

#header {
  display: flex;
  justify-content: space-between;
  color: #6070ff;
  padding: 14px 0 14px 0;
}

#header .my-logo {
  font-weight: bold;
  font-size: 18px;
}

.bar {
  background-color: #6070ff;
  height: 3px;
  width: 21px;
  margin: 4px;
  border-radius: 3px;
}

.intro-header {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding-top: 114px;
  margin: 0;
}

.intro-p {
  color: #344563;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.lets-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 170.17px;
  list-style-type: none;
  padding: 0;
}

.i-container {
  display: inline-block;
}

.i-container .i1 {
  display: block;
}
